@font-face {
    font-family: NutanixSoft;
    src: url(./Nutanix/NutanixSoft-Medium.otf);
}
.padding-m {
    padding: 20px;
}
.padding-s {
    padding: 15px;
}
.margin-s {
    margin: 15px;
}
.main-container {
    margin-top: 15px;
    padding: 10px;
    background-color: white;
}
.check-box-container {
    margin-top: 15px;
}
.button-holder {
    margin-top: 15px;
}
.results-container {
    margin-top: 15px;
}
.button-primary {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #22a5f7;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
}
.heading {
    font-family: NutanixSoft;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #22272e;
}

.sub-heading {
    width: 88px;
    height: 10px;
    font-family: NutanixSoft;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.71;
    letter-spacing: normal;
    color: #1f88de;
}

.text {
    font-family: NutanixSoft;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #22272e;
}
.bg-color-white {
    background-color: white;
}
.logo {
    width: 18px;
    height: 16px;
    margin-right: 5px;
}
body {
    height: 300px;
    width: 300px;
    background-color: #F8F2F2;
    margin: 0;
}