<svg width="808px" height="2182px" viewBox="0 0 808 2182" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <rect id="path-1" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-2">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-3" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-4">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-5" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-6">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-7" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-8">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-9" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-10">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-11" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-12">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-13" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-14">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <filter x="-43.3%" y="-40.6%" width="193.3%" height="187.5%" filterUnits="objectBoundingBox" id="filter-15">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.3 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <rect id="path-16" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-17">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-18" x="0" y="0" width="228" height="50" rx="4"></rect>
        <filter x="-8.3%" y="-20.0%" width="116.7%" height="176.0%" filterUnits="objectBoundingBox" id="filter-19">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="0.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.02 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
            <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.02 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
            <feOffset dx="0" dy="9" in="SourceAlpha" result="shadowOffsetOuter3"></feOffset>
            <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter3" result="shadowBlurOuter3"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.02 0" type="matrix" in="shadowBlurOuter3" result="shadowMatrixOuter3"></feColorMatrix>
            <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter4"></feMorphology>
            <feOffset dx="0" dy="0" in="shadowSpreadOuter4" result="shadowOffsetOuter4"></feOffset>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.05 0" type="matrix" in="shadowOffsetOuter4" result="shadowMatrixOuter4"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
                <feMergeNode in="shadowMatrixOuter3"></feMergeNode>
                <feMergeNode in="shadowMatrixOuter4"></feMergeNode>
            </feMerge>
        </filter>
        <filter x="-43.3%" y="-40.6%" width="193.3%" height="187.5%" filterUnits="objectBoundingBox" id="filter-20">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.3 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
        <rect id="path-21" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-22">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-23" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-24">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-25" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-26">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-27" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-28">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
        <rect id="path-29" x="0" y="0" width="800" height="160"></rect>
        <filter x="-0.1%" y="-0.3%" width="100.1%" height="100.6%" filterUnits="objectBoundingBox" id="filter-30">
            <feOffset dx="0" dy="-1" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
            <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
            <feColorMatrix values="0 0 0 0 0.952941176   0 0 0 0 0.956862745   0 0 0 0 0.960784314  0 0 0 1 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
        </filter>
    </defs>
    <g id="✂️-Variables" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Typography" transform="translate(-80.000000, -138.000000)">
            <g id="Headlines" transform="translate(80.000000, 80.000000)">
                <g id="Headline">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                    </g>
                    <text id="Headlines" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Headlines</tspan>
                    </text>
                    <text id="29pt-/-20pt-height-(" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">29pt / 20pt height (35pt multi-line) / Light</tspan>
                    </text>
                    <text id="Introducing-Prism-Xt" font-family="NutanixSoft-Thin, Nutanix Soft" font-size="29" font-style="condensed" font-weight="300" line-spacing="20" fill="#22272E">
                        <tspan x="365" y="98">Introducing Prism Xtensions</tspan>
                    </text>
                    <g id="Text-Style" transform="translate(320.000000, 70.000000)">
                        <rect id="Tag" stroke="#BBE3FE" fill="#FFFFFF" x="0.5" y="0.5" width="25" height="19" rx="3"></rect>
                        <text id="H1" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#22A5F7">
                            <tspan x="6" y="18">H1</tspan>
                        </text>
                    </g>
                </g>
                <g id="Modal-Title" transform="translate(0.000000, 160.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                    </g>
                    <text id="Modal-Titles" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Modal Titles</tspan>
                    </text>
                    <text id="14pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 10pt height / Medium</tspan>
                    </text>
                    <g id="Text-Style" transform="translate(320.000000, 55.000000)">
                        <path d="M0.5,4.00718972 L0.5,45.9928103 C0.5,47.9298573 2.06729645,49.5 4.00005554,49.5 L295.999944,49.5 C297.927179,49.5 299.5,47.9267654 299.5,45.9928103 L299.5,4.00718972 C299.5,2.07014273 297.932704,0.5 295.999944,0.5 L4.00005554,0.5 C2.07282133,0.5 0.5,2.07323455 0.5,4.00718972 Z" id="Header" stroke="#F2F4F6" fill="#FFFFFF"></path>
                        <text id="User-Management" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="14" font-weight="400" line-spacing="10" fill="#22272E">
                            <tspan x="20" y="34">User Management</tspan>
                        </text>
                        <g id="Glyph---Cross" transform="translate(271.000000, 20.000000)" stroke="#7C8D9F" stroke-linecap="round" stroke-width="2">
                            <path d="M1,1 L9,9" id="Line"></path>
                            <path d="M9,1 L1,9" id="Line"></path>
                        </g>
                    </g>
                </g>
                <g id="Section-Titles" transform="translate(0.000000, 320.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="92">Section Titles</tspan>
                    </text>
                    <g id="H2" transform="translate(320.000000, 33.000000)">
                        <g id="Text-Style">
                            <rect id="Tag" stroke="#BBE3FE" fill="#FFFFFF" x="0.5" y="0.5" width="27" height="19" rx="3"></rect>
                            <text id="H2" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#22A5F7">
                                <tspan x="6" y="18">H2</tspan>
                            </text>
                        </g>
                        <text id="Configuration" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                            <tspan x="47" y="22">Configuration</tspan>
                        </text>
                        <text id="18pt-/-12pt-height-(" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                            <tspan x="200" y="18">18pt / 12pt height (22pt multi-line) / Regular</tspan>
                        </text>
                    </g>
                    <g id="H3" transform="translate(320.000000, 70.000000)">
                        <g id="Text-Style">
                            <rect id="Tag" stroke="#BBE3FE" fill="#FFFFFF" x="0.5" y="0.5" width="27" height="19" rx="3"></rect>
                            <text id="H3" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#22A5F7">
                                <tspan x="6" y="18">H3</tspan>
                            </text>
                        </g>
                        <text id="Metric-History" font-family="NutanixSoft-Semibold, Nutanix Soft" font-size="14" font-weight="500" line-spacing="10" fill="#22272E">
                            <tspan x="47" y="19">Metric History</tspan>
                        </text>
                        <text id="14pt-/-10pt-height-(" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                            <tspan x="200" y="18">14pt / 10pt height (17pt multi-line) / Semibold</tspan>
                        </text>
                    </g>
                    <g id="H4" transform="translate(320.000000, 107.000000)">
                        <g id="Text-Style">
                            <rect id="Tag" stroke="#BBE3FE" fill="#FFFFFF" x="0.5" y="0.5" width="27" height="19" rx="3"></rect>
                            <text id="H4" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#22A5F7">
                                <tspan x="6" y="18">H4</tspan>
                            </text>
                        </g>
                        <text id="Yesterday" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#627386">
                            <tspan x="47" y="18">Yesterday</tspan>
                        </text>
                        <text id="12pt-/-8pt-height-(1" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                            <tspan x="200" y="18">12pt / 8pt height (15pt multi-line)  / Medium</tspan>
                        </text>
                    </g>
                </g>
            </g>
            <g id="Body" transform="translate(80.000000, 560.000000)">
                <g id="Paragraph">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-7"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-8)" xlink:href="#path-7"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Paragraph</tspan>
                    </text>
                    <text id="14pt-/-22pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 22pt height / Regular</tspan>
                    </text>
                    <text id="Nutanix-offers-a-wid" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="22" fill="#22272E">
                        <tspan x="320" y="61">Nutanix offers a wide range of platforms to run any workload. Multiple appliance </tspan>
                        <tspan x="320" y="83">types can be mixed in a single cluster, enabling flexible and linear scaling of </tspan>
                        <tspan x="320" y="105">capacity and performance.</tspan>
                    </text>
                </g>
                <g id="Secondary-Text" transform="translate(0.000000, 160.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-9"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Secondary Text</tspan>
                    </text>
                    <text id="14pt-/-22pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 22pt height / Regular</tspan>
                    </text>
                    <g id="Text-Style" transform="translate(320.000000, 64.000000)">
                        <text id="Breakdown-by" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#627386">
                            <tspan x="0" y="25">Breakdown by</tspan>
                        </text>
                        <g id="Select" transform="translate(99.000000, 0.000000)">
                            <path d="M4,0.5 C2.06700338,0.5 0.5,2.06700338 0.5,4 L0.5,28 C0.5,29.9329966 2.06700338,31.5 4,31.5 L116,31.5 C117.932997,31.5 119.5,29.9329966 119.5,28 L119.5,4 C119.5,2.06700338 117.932997,0.5 116,0.5 L4,0.5 Z" stroke="#B8BFCA" fill="#FFFFFF"></path>
                            <text id="Hypervisor" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#22272E">
                                <tspan x="10" y="25">Hypervisor</tspan>
                            </text>
                            <path d="M106.500013,14.9990169 C106.383044,14.9990169 106.269778,14.9580088 106.17992,14.8831275 C105.967782,14.7063455 105.93912,14.3910631 106.115902,14.1789247 L107.548381,12.4599496 C107.567741,12.4367181 107.589168,12.4152908 107.6124,12.3959312 C107.824538,12.2191492 108.13982,12.2478112 108.316602,12.4599496 L109.749082,14.1789247 C109.823963,14.2687822 109.864971,14.3820486 109.864971,14.4990169 C109.864971,14.7751592 109.641113,14.9990169 109.364971,14.9990169 L106.500013,14.9990169 Z M109.364971,16.9990169 C109.481939,16.9990169 109.595206,17.040025 109.685063,17.1149062 C109.897202,17.2916883 109.925864,17.6069706 109.749082,17.8191091 L108.316602,19.5380841 C108.297243,19.5613156 108.275815,19.5827429 108.252584,19.6021025 C108.040445,19.7788846 107.725163,19.7502225 107.548381,19.5380841 L106.115902,17.8191091 C106.041021,17.7292516 106.000013,17.6159851 106.000013,17.4990169 C106.000013,17.2228745 106.22387,16.9990169 106.500013,16.9990169 L109.364971,16.9990169 Z" id="Glyph---Double-Arrow" fill="#627386"></path>
                        </g>
                    </g>
                </g>
                <g id="Sub-Information" transform="translate(0.000000, 320.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-11"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-12)" xlink:href="#path-11"></use>
                    </g>
                    <text id="Sub-information" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Sub-information</tspan>
                    </text>
                    <text id="14pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 10pt height / Regular</tspan>
                    </text>
                    <text id="Use-at-least-8-chara" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="320" y="89">Use at least 8 characters</tspan>
                    </text>
                </g>
            </g>
            <g id="Links" transform="translate(80.000000, 1040.000000)">
                <g>
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-13"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-14)" xlink:href="#path-13"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Links</tspan>
                    </text>
                    <text id="14pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 10pt height / Medium</tspan>
                    </text>
                    <g id="Link" transform="translate(320.000000, 54.000000)" fill="#22A5F7" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="14" font-weight="400" line-spacing="10">
                        <text id="Manage-Disks">
                            <tspan x="0" y="14">Manage Disks</tspan>
                        </text>
                    </g>
                    <g id="Link" transform="translate(320.000000, 94.000000)">
                        <text id="Go-to-Hosts" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="14" font-weight="400" line-spacing="10" fill="#22A5F7">
                            <tspan x="0" y="14">Go to Hosts</tspan>
                        </text>
                        <polyline id="Glyph---Chevron-Right" stroke="#22A5F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" points="83 3 85.5 5.5 83 8"></polyline>
                        <rect id="Underline" fill="#22A5F7" x="0" y="11" width="73" height="1"></rect>
                    </g>
                    <g id="Link" transform="translate(468.000000, 47.000000)" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="22">
                        <text id="Nutanix-offers-a-wid">
                            <tspan x="0" y="14" fill="#22272E">Nutanix offers a wide range of platforms to run </tspan>
                            <tspan x="0" y="36" fill="#22272E">any workload. Multiple appliance types can be </tspan>
                            <tspan x="0" y="58" fill="#22272E">mixed in a single cluster… </tspan>
                            <tspan x="160.524" y="58" font-family="NutanixSoft-Medium, Nutanix Soft" font-weight="400" fill="#22A5F7">Show more</tspan>
                        </text>
                    </g>
                    <g id="Cursor---Pointing-Hand" transform="translate(355.000000, 102.000000)">
                        <g id="pointinghand" filter="url(#filter-15)">
                            <path d="M3.33149589,12.3799036 C3.04749599,12.0209045 2.70249611,11.2869062 2.08849633,10.3959083 C1.74049645,9.89190949 0.877496759,8.94291173 0.62049685,8.46091287 C0.397496929,8.03491388 0.421496921,7.84391433 0.474496902,7.49091516 C0.568496868,6.86291665 1.21249664,6.3739178 1.8994964,6.43991764 C2.41849621,6.48891753 2.85849606,6.83191672 3.25449592,7.15591595 C3.49349583,7.35091549 3.78749573,7.7299146 3.96449566,7.94391409 C4.12749561,8.13991363 4.16749559,8.22091344 4.34149553,8.45291289 C4.57149545,8.75991216 4.64349542,8.9119118 4.55549545,8.5739126 C4.48449548,8.07791377 4.36849552,7.23091578 4.20049558,6.48191755 C4.07249562,5.91391889 4.04149564,5.8249191 3.91949568,5.38892013 C3.79049572,4.92492122 3.72449575,4.59992199 3.60349579,4.10792315 C3.51949582,3.75992398 3.36849587,3.04892566 3.32749589,2.6489266 C3.27049591,2.10192789 3.24049592,1.20993 3.5914958,0.799930971 C3.8664957,0.47893173 4.49749547,0.381931959 4.88849534,0.579931491 C5.40049515,0.838930879 5.69149505,1.58292912 5.824495,1.87992842 C6.06349492,2.41392716 6.21149487,3.0309257 6.34049482,3.84092379 C6.50449476,4.87192135 6.80649465,6.30291797 6.81649465,6.60391726 C6.84049464,6.23491813 6.74849468,5.45791996 6.81249465,5.1039208 C6.87049463,4.78292156 7.14049454,4.40992244 7.47849442,4.30892268 C7.76449431,4.22392288 8.0994942,4.19292295 8.39449409,4.25392281 C8.70749398,4.31792266 9.03749386,4.54192213 9.16049382,4.75292163 C9.52249369,5.37692016 9.52949369,6.65191714 9.54449368,6.5839173 C9.63049365,6.20791819 9.61549366,5.35492021 9.82849358,4.99992105 C9.96849353,4.7659216 10.3254934,4.5549221 10.5154933,4.52092218 C10.8094932,4.4689223 11.1704931,4.45292234 11.479493,4.5129222 C11.7284929,4.56192208 12.0654928,4.85792138 12.1564928,4.99992105 C12.3744927,5.34392023 12.4984926,6.31691794 12.5354926,6.65791713 C12.5504926,6.7989168 12.6094926,6.26591806 12.8284925,5.92191887 C13.2344924,5.28292038 14.6714919,5.15892067 14.7264918,6.56091736 C14.7514918,7.21491581 14.7464918,7.18491588 14.7464918,7.62491484 C14.7464918,8.14191362 14.7344918,8.45291289 14.7064919,8.826912 C14.6754919,9.22691106 14.5894919,10.1309089 14.4644919,10.5689079 C14.378492,10.8699072 14.0934921,11.5469056 13.8124922,11.9529046 C13.8124922,11.9529046 12.7384925,13.2029017 12.6214926,13.7659003 C12.5034926,14.327899 12.5424926,14.331899 12.5194926,14.7308981 C12.4964926,15.1288971 12.6404926,15.6528959 12.6404926,15.6528959 C12.6404926,15.6528959 11.8384929,15.7568956 11.406493,15.6878958 C11.0154932,15.6248959 10.5314933,14.8468978 10.4064934,14.6088983 C10.2344934,14.2808991 9.86749357,14.343899 9.72449362,14.5858984 C9.4994937,14.9688975 9.01549387,15.6558959 8.67349399,15.6988958 C8.00549423,15.7828956 6.61949472,15.7298957 5.53449511,15.7188957 C5.53449511,15.7188957 5.71949504,14.7078981 5.30749519,14.3608989 C5.00249529,14.1018995 4.47749548,13.5769008 4.16349559,13.3009014 L3.33149589,12.3799036 Z" id="cursor" fill="#FFFFFF"></path>
                            <path d="M3.33149589,12.3799036 C3.04749599,12.0209045 2.70249611,11.2869062 2.08849633,10.3959083 C1.74049645,9.89190949 0.877496759,8.94291173 0.62049685,8.46091287 C0.397496929,8.03491388 0.421496921,7.84391433 0.474496902,7.49091516 C0.568496868,6.86291665 1.21249664,6.3739178 1.8994964,6.43991764 C2.41849621,6.48891753 2.85849606,6.83191672 3.25449592,7.15591595 C3.49349583,7.35091549 3.78749573,7.7299146 3.96449566,7.94391409 C4.12749561,8.13991363 4.16749559,8.22091344 4.34149553,8.45291289 C4.57149545,8.75991216 4.64349542,8.9119118 4.55549545,8.5739126 C4.48449548,8.07791377 4.36849552,7.23091578 4.20049558,6.48191755 C4.07249562,5.91391889 4.04149564,5.8249191 3.91949568,5.38892013 C3.79049572,4.92492122 3.72449575,4.59992199 3.60349579,4.10792315 C3.51949582,3.75992398 3.36849587,3.04892566 3.32749589,2.6489266 C3.27049591,2.10192789 3.24049592,1.20993 3.5914958,0.799930971 C3.8664957,0.47893173 4.49749547,0.381931959 4.88849534,0.579931491 C5.40049515,0.838930879 5.69149505,1.58292912 5.824495,1.87992842 C6.06349492,2.41392716 6.21149487,3.0309257 6.34049482,3.84092379 C6.50449476,4.87192135 6.80649465,6.30291797 6.81649465,6.60391726 C6.84049464,6.23491813 6.74849468,5.45791996 6.81249465,5.1039208 C6.87049463,4.78292156 7.14049454,4.40992244 7.47849442,4.30892268 C7.76449431,4.22392288 8.0994942,4.19292295 8.39449409,4.25392281 C8.70749398,4.31792266 9.03749386,4.54192213 9.16049382,4.75292163 C9.52249369,5.37692016 9.52949369,6.65191714 9.54449368,6.5839173 C9.63049365,6.20791819 9.61549366,5.35492021 9.82849358,4.99992105 C9.96849353,4.7659216 10.3254934,4.5549221 10.5154933,4.52092218 C10.8094932,4.4689223 11.1704931,4.45292234 11.479493,4.5129222 C11.7284929,4.56192208 12.0654928,4.85792138 12.1564928,4.99992105 C12.3744927,5.34392023 12.4984926,6.31691794 12.5354926,6.65791713 C12.5504926,6.7989168 12.6094926,6.26591806 12.8284925,5.92191887 C13.2344924,5.28292038 14.6714919,5.15892067 14.7264918,6.56091736 C14.7514918,7.21491581 14.7464918,7.18491588 14.7464918,7.62491484 C14.7464918,8.14191362 14.7344918,8.45291289 14.7064919,8.826912 C14.6754919,9.22691106 14.5894919,10.1309089 14.4644919,10.5689079 C14.378492,10.8699072 14.0934921,11.5469056 13.8124922,11.9529046 C13.8124922,11.9529046 12.7384925,13.2029017 12.6214926,13.7659003 C12.5034926,14.327899 12.5424926,14.331899 12.5194926,14.7308981 C12.4964926,15.1288971 12.6404926,15.6528959 12.6404926,15.6528959 C12.6404926,15.6528959 11.8384929,15.7568956 11.406493,15.6878958 C11.0154932,15.6248959 10.5314933,14.8468978 10.4064934,14.6088983 C10.2344934,14.2808991 9.86749357,14.343899 9.72449362,14.5858984 C9.4994937,14.9688975 9.01549387,15.6558959 8.67349399,15.6988958 C8.00549423,15.7828956 6.61949472,15.7298957 5.53449511,15.7188957 C5.53449511,15.7188957 5.71949504,14.7078981 5.30749519,14.3608989 C5.00249529,14.1018995 4.47749548,13.5769008 4.16349559,13.3009014 L3.33149589,12.3799036 L3.33149589,12.3799036 Z" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.5664,12.7344 L11.5664,9.2754" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round"></path>
                            <path d="M9.5508,12.7461 L9.5348,9.2731" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round"></path>
                            <path d="M7.5547,9.3047 L7.5757,12.7307" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round"></path>
                        </g>
                    </g>
                </g>
                <g id="Tooltip" transform="translate(0.000000, 160.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-16"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-17)" xlink:href="#path-16"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Tooltip</tspan>
                    </text>
                    <text id="14pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 10pt height / Medium</tspan>
                    </text>
                    <g transform="translate(320.000000, 100.000000)">
                        <text id="What’s-a-VM?" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#22272E">
                            <tspan x="0" y="14">What’s a VM?</tspan>
                        </text>
                        <path d="M0.494047619,11.5 L82.5059524,11.5" id="Underline" stroke="#22272E" stroke-linejoin="round" stroke-dasharray="1,1"></path>
                    </g>
                    <g transform="translate(434.000000, 39.000000)">
                        <text id="What’s-a-VM?" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#22272E">
                            <tspan x="73" y="75">What’s a VM?</tspan>
                        </text>
                        <path d="M73.4940476,72.5 L155.505952,72.5" id="Underline" stroke="#22272E" stroke-linejoin="round" stroke-dasharray="1,1"></path>
                        <g>
                            <g>
                                <use fill="black" fill-opacity="1" filter="url(#filter-19)" xlink:href="#path-18"></use>
                                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-18"></use>
                            </g>
                            <g id="Tip" transform="translate(108.000000, 50.000000)">
                                <path d="M3.5,-1.79289322 L3.5,7.79289322 L7.93933983,3.35355339 C8.13460197,3.15829124 8.13460197,2.84170876 7.93933983,2.64644661 L3.5,-1.79289322 Z" id="Outline" stroke-opacity="0.0531023551" stroke="#000000" transform="translate(6.000000, 3.000000) rotate(90.000000) translate(-6.000000, -3.000000) "></path>
                                <polygon id="Fill" fill="#FFFFFF" transform="translate(6.000000, 2.289062) rotate(90.000000) translate(-6.000000, -2.289062) " points="3.7109375 -2.2890625 8.2890625 2.2890625 3.7109375 6.8671875"></polygon>
                            </g>
                            <text id="VM-is-short-for-Virt" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="22" fill="#22272E">
                                <tspan x="20" y="28">VM is short for Virtual Machine</tspan>
                            </text>
                        </g>
                    </g>
                    <g id="Cursor---Pointing-Hand" transform="translate(561.000000, 105.000000)">
                        <g id="pointinghand" filter="url(#filter-20)">
                            <path d="M3.33149589,12.3799036 C3.04749599,12.0209045 2.70249611,11.2869062 2.08849633,10.3959083 C1.74049645,9.89190949 0.877496759,8.94291173 0.62049685,8.46091287 C0.397496929,8.03491388 0.421496921,7.84391433 0.474496902,7.49091516 C0.568496868,6.86291665 1.21249664,6.3739178 1.8994964,6.43991764 C2.41849621,6.48891753 2.85849606,6.83191672 3.25449592,7.15591595 C3.49349583,7.35091549 3.78749573,7.7299146 3.96449566,7.94391409 C4.12749561,8.13991363 4.16749559,8.22091344 4.34149553,8.45291289 C4.57149545,8.75991216 4.64349542,8.9119118 4.55549545,8.5739126 C4.48449548,8.07791377 4.36849552,7.23091578 4.20049558,6.48191755 C4.07249562,5.91391889 4.04149564,5.8249191 3.91949568,5.38892013 C3.79049572,4.92492122 3.72449575,4.59992199 3.60349579,4.10792315 C3.51949582,3.75992398 3.36849587,3.04892566 3.32749589,2.6489266 C3.27049591,2.10192789 3.24049592,1.20993 3.5914958,0.799930971 C3.8664957,0.47893173 4.49749547,0.381931959 4.88849534,0.579931491 C5.40049515,0.838930879 5.69149505,1.58292912 5.824495,1.87992842 C6.06349492,2.41392716 6.21149487,3.0309257 6.34049482,3.84092379 C6.50449476,4.87192135 6.80649465,6.30291797 6.81649465,6.60391726 C6.84049464,6.23491813 6.74849468,5.45791996 6.81249465,5.1039208 C6.87049463,4.78292156 7.14049454,4.40992244 7.47849442,4.30892268 C7.76449431,4.22392288 8.0994942,4.19292295 8.39449409,4.25392281 C8.70749398,4.31792266 9.03749386,4.54192213 9.16049382,4.75292163 C9.52249369,5.37692016 9.52949369,6.65191714 9.54449368,6.5839173 C9.63049365,6.20791819 9.61549366,5.35492021 9.82849358,4.99992105 C9.96849353,4.7659216 10.3254934,4.5549221 10.5154933,4.52092218 C10.8094932,4.4689223 11.1704931,4.45292234 11.479493,4.5129222 C11.7284929,4.56192208 12.0654928,4.85792138 12.1564928,4.99992105 C12.3744927,5.34392023 12.4984926,6.31691794 12.5354926,6.65791713 C12.5504926,6.7989168 12.6094926,6.26591806 12.8284925,5.92191887 C13.2344924,5.28292038 14.6714919,5.15892067 14.7264918,6.56091736 C14.7514918,7.21491581 14.7464918,7.18491588 14.7464918,7.62491484 C14.7464918,8.14191362 14.7344918,8.45291289 14.7064919,8.826912 C14.6754919,9.22691106 14.5894919,10.1309089 14.4644919,10.5689079 C14.378492,10.8699072 14.0934921,11.5469056 13.8124922,11.9529046 C13.8124922,11.9529046 12.7384925,13.2029017 12.6214926,13.7659003 C12.5034926,14.327899 12.5424926,14.331899 12.5194926,14.7308981 C12.4964926,15.1288971 12.6404926,15.6528959 12.6404926,15.6528959 C12.6404926,15.6528959 11.8384929,15.7568956 11.406493,15.6878958 C11.0154932,15.6248959 10.5314933,14.8468978 10.4064934,14.6088983 C10.2344934,14.2808991 9.86749357,14.343899 9.72449362,14.5858984 C9.4994937,14.9688975 9.01549387,15.6558959 8.67349399,15.6988958 C8.00549423,15.7828956 6.61949472,15.7298957 5.53449511,15.7188957 C5.53449511,15.7188957 5.71949504,14.7078981 5.30749519,14.3608989 C5.00249529,14.1018995 4.47749548,13.5769008 4.16349559,13.3009014 L3.33149589,12.3799036 Z" id="cursor" fill="#FFFFFF"></path>
                            <path d="M3.33149589,12.3799036 C3.04749599,12.0209045 2.70249611,11.2869062 2.08849633,10.3959083 C1.74049645,9.89190949 0.877496759,8.94291173 0.62049685,8.46091287 C0.397496929,8.03491388 0.421496921,7.84391433 0.474496902,7.49091516 C0.568496868,6.86291665 1.21249664,6.3739178 1.8994964,6.43991764 C2.41849621,6.48891753 2.85849606,6.83191672 3.25449592,7.15591595 C3.49349583,7.35091549 3.78749573,7.7299146 3.96449566,7.94391409 C4.12749561,8.13991363 4.16749559,8.22091344 4.34149553,8.45291289 C4.57149545,8.75991216 4.64349542,8.9119118 4.55549545,8.5739126 C4.48449548,8.07791377 4.36849552,7.23091578 4.20049558,6.48191755 C4.07249562,5.91391889 4.04149564,5.8249191 3.91949568,5.38892013 C3.79049572,4.92492122 3.72449575,4.59992199 3.60349579,4.10792315 C3.51949582,3.75992398 3.36849587,3.04892566 3.32749589,2.6489266 C3.27049591,2.10192789 3.24049592,1.20993 3.5914958,0.799930971 C3.8664957,0.47893173 4.49749547,0.381931959 4.88849534,0.579931491 C5.40049515,0.838930879 5.69149505,1.58292912 5.824495,1.87992842 C6.06349492,2.41392716 6.21149487,3.0309257 6.34049482,3.84092379 C6.50449476,4.87192135 6.80649465,6.30291797 6.81649465,6.60391726 C6.84049464,6.23491813 6.74849468,5.45791996 6.81249465,5.1039208 C6.87049463,4.78292156 7.14049454,4.40992244 7.47849442,4.30892268 C7.76449431,4.22392288 8.0994942,4.19292295 8.39449409,4.25392281 C8.70749398,4.31792266 9.03749386,4.54192213 9.16049382,4.75292163 C9.52249369,5.37692016 9.52949369,6.65191714 9.54449368,6.5839173 C9.63049365,6.20791819 9.61549366,5.35492021 9.82849358,4.99992105 C9.96849353,4.7659216 10.3254934,4.5549221 10.5154933,4.52092218 C10.8094932,4.4689223 11.1704931,4.45292234 11.479493,4.5129222 C11.7284929,4.56192208 12.0654928,4.85792138 12.1564928,4.99992105 C12.3744927,5.34392023 12.4984926,6.31691794 12.5354926,6.65791713 C12.5504926,6.7989168 12.6094926,6.26591806 12.8284925,5.92191887 C13.2344924,5.28292038 14.6714919,5.15892067 14.7264918,6.56091736 C14.7514918,7.21491581 14.7464918,7.18491588 14.7464918,7.62491484 C14.7464918,8.14191362 14.7344918,8.45291289 14.7064919,8.826912 C14.6754919,9.22691106 14.5894919,10.1309089 14.4644919,10.5689079 C14.378492,10.8699072 14.0934921,11.5469056 13.8124922,11.9529046 C13.8124922,11.9529046 12.7384925,13.2029017 12.6214926,13.7659003 C12.5034926,14.327899 12.5424926,14.331899 12.5194926,14.7308981 C12.4964926,15.1288971 12.6404926,15.6528959 12.6404926,15.6528959 C12.6404926,15.6528959 11.8384929,15.7568956 11.406493,15.6878958 C11.0154932,15.6248959 10.5314933,14.8468978 10.4064934,14.6088983 C10.2344934,14.2808991 9.86749357,14.343899 9.72449362,14.5858984 C9.4994937,14.9688975 9.01549387,15.6558959 8.67349399,15.6988958 C8.00549423,15.7828956 6.61949472,15.7298957 5.53449511,15.7188957 C5.53449511,15.7188957 5.71949504,14.7078981 5.30749519,14.3608989 C5.00249529,14.1018995 4.47749548,13.5769008 4.16349559,13.3009014 L3.33149589,12.3799036 L3.33149589,12.3799036 Z" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M11.5664,12.7344 L11.5664,9.2754" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round"></path>
                            <path d="M9.5508,12.7461 L9.5348,9.2731" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round"></path>
                            <path d="M7.5547,9.3047 L7.5757,12.7307" id="cursor" stroke="#000000" stroke-width="0.75" stroke-linecap="round"></path>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Labels" transform="translate(80.000000, 1360.000000)">
                <g id="Navigation">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-21"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-22)" xlink:href="#path-21"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Navigation</tspan>
                    </text>
                    <text id="14pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 10pt height / Medium</tspan>
                    </text>
                    <g id="Text-Style" transform="translate(320.000000, 55.000000)">
                        <path d="M0.5,4.00718972 L0.5,45.9928103 C0.5,47.9301011 2.06363255,49.5 3.99132426,49.5 L396.008676,49.5 C397.938726,49.5 399.5,47.9315413 399.5,45.9928103 L399.5,4.00718972 C399.5,2.06989893 397.936367,0.5 396.008676,0.5 L3.99132426,0.5 C2.06127388,0.5 0.5,2.06845867 0.5,4.00718972 Z" id="Navigation-Bar" stroke="#F2F4F6" fill="#FFFFFF"></path>
                        <polygon id="Highlight" fill="#22A5F7" points="30 48 89 48 89 50 30 50"></polygon>
                        <text id="Overview" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="14" font-weight="400" line-spacing="10" fill="#22272E">
                            <tspan x="30" y="34">Overview</tspan>
                        </text>
                        <text id="Performance" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="14" font-weight="400" line-spacing="10" fill="#627386">
                            <tspan x="119" y="34">Performance</tspan>
                        </text>
                        <text id="Diagram" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="14" font-weight="400" line-spacing="10" fill="#627386">
                            <tspan x="229" y="34">Diagram</tspan>
                        </text>
                    </g>
                </g>
                <g id="Buttons" transform="translate(0.000000, 160.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-23"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-24)" xlink:href="#path-23"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Buttons</tspan>
                    </text>
                    <text id="14pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 10pt height / Medium</tspan>
                    </text>
                    <g id="Button" transform="translate(320.000000, 64.000000)">
                        <rect fill="#22A5F7" x="0" y="0" width="74" height="32" rx="4"></rect>
                        <text id="Deploy" font-family="Helvetica" font-size="14" font-weight="normal" line-spacing="10" fill="#FFFFFF">
                            <tspan x="15" y="25">Deploy</tspan>
                        </text>
                    </g>
                    <g id="Button" transform="translate(414.000000, 64.000000)">
                        <path d="M4,0 L67,0 C69.209139,-4.05812251e-16 71,1.790861 71,4 L71,28 C71,30.209139 69.209139,32 67,32 L4,32 C1.790861,32 2.705415e-16,30.209139 0,28 L0,4 C-2.705415e-16,1.790861 1.790861,4.05812251e-16 4,0 Z" fill="#F55656"></path>
                        <text id="Delete" font-family="Helvetica" font-size="14" font-weight="normal" line-spacing="10" fill="#FFFFFF">
                            <tspan x="15" y="25">Delete</tspan>
                        </text>
                    </g>
                    <g id="Button" transform="translate(505.000000, 64.000000)">
                        <path d="M4,0.5 C2.06700338,0.5 0.5,2.06700338 0.5,4 L0.5,28 C0.5,29.9329966 2.06700338,31.5 4,31.5 L69,31.5 C70.9329966,31.5 72.5,29.9329966 72.5,28 L72.5,4 C72.5,2.06700338 70.9329966,0.5 69,0.5 L4,0.5 Z" stroke="#D5DAE0" fill="#FFFFFF"></path>
                        <text id="Cancel" font-family="Helvetica" font-size="14" font-weight="normal" line-spacing="10" fill="#22272E">
                            <tspan x="15" y="25">Cancel</tspan>
                        </text>
                    </g>
                </g>
                <g id="Label" transform="translate(0.000000, 320.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-25"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-26)" xlink:href="#path-25"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Label</tspan>
                    </text>
                    <text id="14pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">14pt / 10pt height / Regular</tspan>
                    </text>
                    <g id="Text-Style" transform="translate(320.000000, 74.000000)">
                        <g id="Checkbox">
                            <rect id="Box" fill="#22A5F7" x="0" y="0" width="12" height="12" rx="3"></rect>
                            <path d="M5.18954221,9.06365308 C4.99054221,9.06365308 4.79754221,8.98665308 4.65354221,8.84765308 L2.83854221,7.10865308 C2.52954221,6.81265308 2.51954221,6.32165308 2.81554221,6.01265308 C3.11154221,5.70265308 3.60254221,5.69265308 3.91154221,5.98965308 L5.10154221,7.12965308 L8.03554221,3.30365308 C8.29754221,2.96465308 8.78154221,2.89865308 9.12254221,3.16065308 C9.46254221,3.42065308 9.52554221,3.90665308 9.26654221,4.24665308 L5.80454221,8.75965308 C5.67054221,8.93465308 5.46854221,9.04365308 5.24854221,9.06065308 C5.22854221,9.06265308 5.20954221,9.06365308 5.18954221,9.06365308" id="Check" fill="#FFFFFF"></path>
                        </g>
                        <text id="Enable-Pulse-HD" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#22272E">
                            <tspan x="22" y="15">Enable Pulse HD</tspan>
                        </text>
                    </g>
                </g>
                <g id="Badges" transform="translate(0.000000, 480.000000)">
                    <g id="Section">
                        <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-27"></use>
                        <use fill="black" fill-opacity="1" filter="url(#filter-28)" xlink:href="#path-27"></use>
                    </g>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Badges</tspan>
                    </text>
                    <text id="12pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">12pt / 10pt height / Semibold</tspan>
                    </text>
                    <g id="Badge" transform="translate(320.000000, 70.000000)">
                        <rect fill="#22A5F7" x="0" y="0" width="27" height="20" rx="10"></rect>
                        <text id="24" font-family="NutanixSoft-Semibold, Nutanix Soft" font-size="12" font-weight="500" line-spacing="8" fill="#FFFFFF">
                            <tspan x="6" y="18">24</tspan>
                        </text>
                    </g>
                    <g id="Badge" transform="translate(357.000000, 70.000000)">
                        <rect fill="#F55656" x="0" y="0" width="20" height="20" rx="10"></rect>
                        <text id="8" font-family="NutanixSoft-Semibold, Nutanix Soft" font-size="12" font-weight="500" line-spacing="8" fill="#FFFFFF">
                            <tspan x="6" y="18">8</tspan>
                        </text>
                    </g>
                    <g id="Badge" transform="translate(387.000000, 70.000000)">
                        <rect fill="#FFBC0B" x="0" y="0" width="20" height="20" rx="10"></rect>
                        <text id="2" font-family="NutanixSoft-Semibold, Nutanix Soft" font-size="12" font-weight="500" line-spacing="8" fill="#FFFFFF">
                            <tspan x="6" y="18">2</tspan>
                        </text>
                    </g>
                </g>
                <g id="Tags" transform="translate(0.000000, 640.000000)">
                    <rect id="Section" fill-opacity="0" fill="#FFFFFF" x="0" y="0" width="800" height="160"></rect>
                    <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                        <tspan x="0" y="77">Tags</tspan>
                    </text>
                    <text id="12pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                        <tspan x="0" y="105">12pt / 10pt height / Semibold</tspan>
                    </text>
                    <g id="Tag" transform="translate(320.000000, 70.000000)">
                        <path d="M3,0.5 C1.61928813,0.5 0.5,1.61928813 0.5,3 L0.5,17 C0.5,18.3807119 1.61928813,19.5 3,19.5 L34,19.5 C35.3807119,19.5 36.5,18.3807119 36.5,17 L36.5,3 C36.5,1.61928813 35.3807119,0.5 34,0.5 L3,0.5 Z" stroke="#BDE4FD" fill="#FFFFFF"></path>
                        <text id="New" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#22A5F7">
                            <tspan x="6" y="18">New</tspan>
                        </text>
                    </g>
                    <g id="Tag" transform="translate(450.000000, 70.000000)">
                        <path d="M3,0.5 C1.61928813,0.5 0.5,1.61928813 0.5,3 L0.5,17 C0.5,18.3807119 1.61928813,19.5 3,19.5 L85,19.5 C86.3807119,19.5 87.5,18.3807119 87.5,17 L87.5,3 C87.5,1.61928813 86.3807119,0.5 85,0.5 L3,0.5 Z" stroke="#FCCCCC" fill="#FFFFFF"></path>
                        <text id="VM-Constraint" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#DC4D57">
                            <tspan x="6" y="18">VM Constraint</tspan>
                        </text>
                    </g>
                    <g id="Tag" transform="translate(377.000000, 70.000000)">
                        <path d="M3,0.5 C1.61928813,0.5 0.5,1.61928813 0.5,3 L0.5,17 C0.5,18.3807119 1.61928813,19.5 3,19.5 L50,19.5 C51.3807119,19.5 52.5,18.3807119 52.5,17 L52.5,3 C52.5,1.61928813 51.3807119,0.5 50,0.5 L3,0.5 Z" stroke="#D5DAE0" fill="#FFFFFF"></path>
                        <text id="56-VMs" font-family="NutanixSoft-Medium, Nutanix Soft" font-size="12" font-weight="400" line-spacing="8" fill="#627386">
                            <tspan x="6" y="18">56 VMs</tspan>
                        </text>
                    </g>
                </g>
            </g>
            <g id="Monospace" transform="translate(80.000000, 2160.000000)">
                <g id="Section">
                    <use fill-opacity="0" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-29"></use>
                    <use fill="black" fill-opacity="1" filter="url(#filter-30)" xlink:href="#path-29"></use>
                </g>
                <text font-family="NutanixSoft-Regular, Nutanix Soft" font-size="18" font-weight="normal" line-spacing="12" fill="#22272E">
                    <tspan x="0" y="77">Monospace</tspan>
                </text>
                <text id="12pt-/-10pt-height-/" font-family="NutanixSoft-Regular, Nutanix Soft" font-size="14" font-weight="normal" line-spacing="10" fill="#9AA5B5">
                    <tspan x="0" y="105">12pt / 10pt height / Monaco Regular</tspan>
                </text>
                <text id="vdisk_manipulator-–v" font-family="Menlo-Regular, Menlo" font-size="12" font-weight="normal" line-spacing="10" fill="#22272E">
                    <tspan x="320" y="87">vdisk_manipulator –vdisk_id=&lt;vDisk ID&gt; --operation=add</tspan>
                </text>
            </g>
        </g>
    </g>
</svg>